<!DOCTYPE html>
<html>
  <head>
    <title>Water Monitoring System Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Water Monitoring System Dashboard</h1>
      <hr />
      <div class="row">
        <div class="col-sm-4">
          <h3>Status:</h3>
          <p>Current Status: <span id="status"></span></p>
          <button class="btn btn-success" onclick="startMonitoring()">
            Start Monitoring
          </button>
          <button class="btn btn-danger" onclick="stopMonitoring()">
            Stop Monitoring
          </button>
        </div>
        <div class="col-sm-8">
          <h3>Logs:</h3>
          <div id="logs"></div>
          <button class="btn btn-primary" onclick="refreshLogs()">
            Refresh Logs
          </button>
          <button class="btn btn-warning" onclick="clearLogs()">
            Clear Logs
          </button>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        $.ajax({
          url: "/status",
          type: "GET",
          success: function (response) {
            $("#status").text(response);
          },
          error: function (error) {
            console.log(error);
          },
        });

      });

      const socket = io.connect("/");
      socket.on("sensor-data", (data) => {
        console.log(data);
      });
     
      
      function startMonitoring() {
        $.ajax({
          url: "/start",
          type: "GET",
          success: function (response) {
            $("#status").text("Sensor is already running...");
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      function stopMonitoring() {
        $.ajax({
          url: "/stop",
          type: "GET",
          success: function (response) {
            console.log(response);
            $("#status").text("Sensor is not running...");
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      function refreshLogs() {
        $.ajax({
          url: "/get-logs",
          type: "GET",
          success: function (response) {
            console.log(response);
            $("#logs").html(response);
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      function clearLogs() {
        $.ajax({
          url: "/clear-logs",
          type: "GET",
          success: function (response) {
            console.log(response);
            $("#logs").html("");
          },
          error: function (error) {
            console.log(error);
          },
        });
      }
    </script>
  </body>
</html>
