<!DOCTYPE html>
<html>
  <head>
    <title>TLS - IoT-Base Water Tank Monitoring System</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      var chart; // Define the chart as a global variable

      function getChartData() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            var data = JSON.parse(this.responseText);
            var labels = [];
            var remainingVolume = [];
            var waterLevelPercent = [];

            // Add the latest data to each dataset
            labels.push(new Date().toLocaleTimeString());
            remainingVolume.push(data.remaining_volume);
            waterLevelPercent.push(data.water_level_percent);

            createChart(
              labels,
              remainingVolume,
              waterLevelPercent
            );
          }
        };
        xhttp.open("GET", "/water-level", true);
        xhttp.send();
      }

      function createChart(
        labels,
        remainingVolume,
        waterLevelPercent
      ) {
        var ctx = document.getElementById("myChart").getContext("2d");
        chart = new Chart(ctx, {
          // Assign the chart to the global variable
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label: "Remaining Volume",
                data: remainingVolume,
                backgroundColor: "rgba(255, 206, 86, 0.2)",
                borderColor: "rgba(255, 206, 86, 1)",
                borderWidth: 3,
              },
              {
                label: "Water Level Percent",
                data: waterLevelPercent,
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 3,
              }
            ],
          },
          options: {
            scales: {
              y: {
                beginAtZero: true,
              },
            },
          },
        });
      }

      window.onload = function () {
        getChartData();

        // Append latest data every 5 seconds
        setInterval(function () {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              var data = JSON.parse(this.responseText);
              var latestLabel = new Date().toLocaleTimeString();

              var latestRemainingVolume = data.remaining_volume;
              var latestWaterLevelPercent = data.water_level_percent;

              // Append latest data to each dataset
              chart.data.labels.push(latestLabel);

              chart.data.datasets[0].data.push(latestRemainingVolume);
              chart.data.datasets[1].data.push(latestWaterLevelPercent);

              chart.update();
            }
          };
          xhttp.open("GET", "/water-level", true);
          xhttp.send();
        }, 2000);
      };
    </script>
  </head>
  <body>
    <h1>TLS - IoT-Base Water Tank Monitoring System</h1>

    <canvas id="myChart"></canvas>
  </body>
</html>
